
.login-btn {
	
	            border-radius: 4pc;
	            border-color: #11cac2 !important;
                background-color: #11cac2 !important;
	  
            }
 ion-content {
 	
 	
 	          background-image: url("../img/background.jpg");
 	          background-repeat: no-repeat;
 	          background-size: 100%;
 }
 
 p {
 	
 	 color:white;
 }

img.logo { 
	     width: 22%;
	    }
.padding-top {
	
	         padding-top:25%;
	       
}
.new_menu img {
    width: 50%;
    height: 50%;
    margin-top: 23%;
}
.new_menu {
         padding: 2% 1%;
	     margin-bottom: 2%;
	     background-image:url("../img/background_menu.png");
	     background-size: 100%; 
	     min-height:116px;
	     background-repeat: no-repeat;
	     width: 80%;
          }
          
.main_menu p{
	       font-size:14pt;
	       } 

.new_menu:nth-child(1) {
           /*margin-left: 3%;
           //margin-right: 19%;*/
          }
span.action { 
	         font-size:16pt;
	        }
.main_menu {
	
	      //height: 154px
          }
  .main_menu p{

          }
  hr {
  	  width:60%;
  	 }
  .opacity {
  	
  	        opacity:0.3;
  }
.doctor {
	    background-color: white;
	    line-height: 0.5;
}

.doctor_img{
	    width:70px;
	    height: 70px;
}
.star_img {
	       height: 13px;
	       margin-bottom:2%;
}
span.address {
	          color:#d3d5d8;
	         }
span.address  img{
	              height: 15px;
}	         
.show_doctor, .navigate_doctor {
	         float: left;
             margin-top: -20%;
	         background: #1db8af;
            border-radius: 100px;
            color:white;
            border:#1db8af;
            position: relative;
            height: 25px;
            padding: 2.5%;
            text-decoration:none;
            }
.show_doctor:hover {
	               	background: white;  
	                color:#1db8af;
	                border:1px solid #fcfcfc;
	                }
.fiter_doctor {
	          padding-bottom:0px;
	          margin-bottom:0px;
} 
.navigate,.navigate a{
	      background:#e5e5e5;
	      color: #a6c6ef;
	      padding: 3.5%;
}

.navigate a{
	       text-decoration: none;
	        display: inline-block;
           } 

.right_sub_nav {
    float: right;
}

.left_sub_nav {
    float: left;
}

.title_bar {
	            background: #5d97cc !important;
	            color:white !important;
	                opacity: 0.8;
	        }
.title_bar h1{
	         color:white !important;
	         }
.navigate img {
	           height: 15px;
              } 
 .navigate div{
 	          width:50%;
              }

div.doctor_personal_img img{
	                       width:100%;
                           }
.doctor_detail {
	            background:white;
	            padding:4%;
	            border-bottom:1px solid #dedfdf;
	            padding-top: 3px !important;
} 

.doctor_detail img{
	              width:5%;
}

.no-padding {
	         padding:0 !important;
	         }

.border_top {
	        border-top:1px solid #dedfdf;
}

.doctor_img_detail {
	                height: 255px;
                    background-image: url("../img/doctor_img.png");
                    background-size: 100%; 
	                position:relative;
	                margin-bottom: 1%;
                   }
 .doctor_address {
 	             height: 120px;
                 position: absolute;
                 bottom: 0;
                 width:100%;
                 
                 }
.navigate_to_doctor {
	                 background:white;
                     opacity:0.8;
                     padding: 4%;
                     }
.navigate_doctor {
	              margin-top: 0;
	              padding-top:1%;
	              padding-right: 5%;
                  padding-left: 5%;
}
.doctor_name {
	          height: 36px;
                 position: absolute;
                 background:white;
}

.buttons.col-25 button {
	                    width:100%;
	 
}

ion-footer-bar.bar-assertive.bar.bar-footer {
	                                         padding:0;
}

.bar-assertive .button {
	                    border-color: #3c3e3e;
                        background-color: #3c3e3e;
}

.bar-assertive .button.active, .bar-assertive .button.activated{
	                                                            border-color: #1e1f1f;
                                                                background-color: #1e1f1f;
                                                                }
                                                                
.footer{
	    width:100%;
	    height:64px;
      }
.footer img{
	        width: 40%;
           }
  
button.button {
	          font-size:8.5pt !important;	          
              line-height: 12px !important; 
              }

.white a{
	    color:white; 
	   }
button.approve {
	            font-size:12.5pt !important;
               }
               
.claim_step {
	        background: white;
	        padding: 10%;
	        font-size: 13pt;
}
.claim_step_father {
	                 margin-right:3%; 
	                 font-size:8.5pt;
	                 color:#7a8ea7;
                    } 

div#active div.claim_step{
	    background: #649ce7;
	    color:white;
}

div.claim_step_father#active {
	                          color:#649ce7;
}

div.content_form {
	             background: white;
                 margin: 3% 3%;
                 padding: 4%;
                 padding-bottom:36%;
                 } 
button.form-btn {
	             font-size:19pt !important;
}

img.success {
    width: 50%;
}
span.success_text {
	             color:#6cd0cd;
}

div#step-2, div#step-3, div#step-4 {
	        display:none;
}

 textarea{
 	   height: 60px;
 	  }
label.pay {
	      width:66%;
          }
label.coin {
	      width:33%;
	      margin-right:1%;
          }
 label.coin select{
 	               font-size:10pt;
 } 
div.pay_labels label {
	                 float:right;
	                 height: 39px;
                     }
 div.add_pay {
 	          margin-bottom:10% !important;
 	          margin-top:5% !important;
 }
div.add_pay hr,div.add_pay div  {
	                            float:left;
	                            color:#649ce7;
                                 }
 div.add_pay hr {
 	             width:25%;
 	             display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #649ce7;
    padding: 0;
 }
 div.add_pay div  {
 	               font-size:14pt;
 	               position: relative;
                   bottom: 4px;
                       width: 50%;
 }
  div.add_pay div  span{
  	                   border: 1px solid #649ce7;
                       border-radius: 100% 100%;
                        padding:4% 7%;
                       font-size: 17pt;
  }
  

 .new_doctor_field {
 	  	                float:right;
  	                    margin-right: 4%;
                        margin-bottom: 2%;
 	                     width:45%;
 }
.checkbox input:after, .checkbox-icon:after {
 	                           display:none !important;
 }
 .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
 	                                                                                  background: #01b8b0;
                                                                                      border-color: #01b8b0;
 }
 span.near_check {
 	               position: relative;
                   bottom: 15px;
                   color:#AAAAAA;
 }
 
  input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }
  
input[type="date"]::-webkit-datetime-edit-year-field:not([aria-valuenow]),
input[type="date"]::-webkit-datetime-edit-month-field:not([aria-valuenow]),
input[type="date"]::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}
input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}
